@charset "UTF-8";
/* CSS Document */
html {
	background-color: black;
	color: white;
	text-align:center;
}

.excursionvideo,
.campsite,
.phoneimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.upper h1 {
	font: Verdana;
	font-weight: normal;
	font-size: 50px;
	color: white;
}

h6 {
	color: aquamarine;
	font-size: 16px;
}

.lower h1 {
	font-family: Verdana;
	font-size: 42px;
	font-weight: 300;
}

.lower h3 {
	font-family: Verdana;
	font-size: 21px;
	color: gray;
}

.copyright {
	text-align: right;
}

.campsite {
	padding: 25px;
}

h6 a {
	color: aquamarine;
}